body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(clouds-8353592.jpg);
    background-size: cover;
}
.weatherForm{
    margin: 10px;
}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    width: 300px;
    border-radius: 10px;   
}    
button[type="submit"]{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.549);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}
.container{
    border: none;
    border-radius: 30px;
    padding: 50px;
    min-width: 300px;
    background: linear-gradient(180deg,hsl(210,100%,75%),hsl(40,100%,75%));
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.tempDisplay{
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
}
.humDisplay{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
}
.descDisplay{
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.75);
}
.weatherEmoji{
    font-size: 4rem;
    border: none;
}
.errorDisplay{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
}
